/* common class  */
.interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}
.color1{
    color: #252432;
}
.color2{
    color: #8987A1;
}
.color3{
    color: #000000;
}
.color4{
    color: #E95A08;
}
.color5{
    color: #111111;
}
.weight1{
    font-weight: bold;
}

.bg{
    background-color: #f5f8ff;
    margin: 30px 150px;
}
/*    Nav    */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 48px;
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    font-size: 1rem;
}
/*   banner   */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.banner-content{
    max-width: 570px;
}
.banner-title{
    font-size: 4.0625rem;
    font-weight: bold;
    margin-bottom: 13px;
}
.banner-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner img{
    max-width: 100%;
}

/*   Plant Section    */
.plant{
    text-align: center;
    margin-top: 120px;
}
.plant-title{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.plant-d{
    width: 888px;
    margin: 0 auto;
}
/* card  */
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
    margin-top: 49px;
    /*border: 2px solid red;*/
}
.card-container{
    width: 385px;
    /*height: 484.94px;*/
}
.card-container img{
    width: 100%;
}
.card-title{
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
}
.card-price{
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 19px 80px;
    border: none;
    width: 100%;
}

/* love Section  */
.lover{
    display: flex;
    gap: 60px;
    margin-top: 210px;
}
.main-image{
    position: relative;
}
.sub-image{
    position: absolute;
    top: -120px;
    left: 350px;
}
.lover-content{
    width: 540px;
}
.lover-content ul li{
    font-weight: 400;
}
.lover-title{
    font-size: 3.125rem;
    font-weight: bold;
}

/* Deal Section  */
.deal{
    
    justify-items: center;
}
.deal-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.deal-descrip{
    width: 888px;
}
.deal-card{
    display: grid;
    grid-template-columns: repeat(2,0.5fr); 
    grid-template-rows: repeat(2,0.5fr 1fr);
    gap: 22px;
    width: 1145px;
    height: 425px;
    margin-top: 120px;
}
.card1{
    background-image: url(../Images/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 201px;
}
.card1 h3,.card2 h3{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: bold;
}
.card1 a,.card2 a{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}
.card2{
    background-image: url(../Images/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 201px;
}
.card3{
    background-image: url(../Images/deal-zabo.png);
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 753px;
}
.card3 h3{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
}
.card3 a{
    font-size: 1.75rem;
    font-weight: 600;
    color: #FFFFFF;
}
#card3{
    grid-row: span 2;
}

/*  Join Section */
.join{
    background-image: url(../Images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 170px 305px 230px;
    margin: 120px -150px 0px -150px;
}
.join-title{
    font-size: 3.125rem;
    font-weight: bold;
    color: #FFFFFF;
}
form input{
    margin-right: 0;
}
form input[type="email"]
{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 20px;
    width: 644px;
    border: none;
}
form input[type="button"]{
    width: 186px;
    padding: 16.5px 53.5px;
    margin-left:-4px;
}

/*    footer Section    */
.foot{
    display: flex;
    margin: 50px 160px;
}
.footer-content{
    width: 359px;
}
.footer-link{
    margin: 0 111px;
}
.footer-link ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 110px;
    row-gap: 32px;
    list-style: none;
}
.footer-link ul a{
    text-decoration: none;
}
.footer-link ul li{
    font-size: 1rem;
    font-weight: 400;
    color: #6B7280;
}
.footer-media{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}



/*   responsive style   */
@media screen and (max-width: 575px) {
    .bg{
        margin: 10px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }
    .nav-image{
        width: 63px;
        height: 38px;
    }
    nav ul a{
        margin-left: -20px;
    }
    .display{
        display: none;
    }
    .banner-title,.plant-title,.lover-title,.deal-title{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.875rem;
    }
    .main-image{
        margin-bottom: 0px;
    }
    .lover-content{
        margin-top: -58px;
    }
    .lover-content ul{
        margin-left: -15px;
    }
    .card-title,.card-price{
        font-size: 1rem;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-content,.plant-d{
       max-width: 100%;
    }
    .plant{
        margin-top: 40px;
    }
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 100%;
    }
    .card-container,.lover-content,.join,.foot,.card1,.card2,.card3,.deal-descrip,.main-image img{
    width: 100%;
    /*height: 484.94px;*/
    }
    
    .btn-primary{
        padding: 19px 30px;
        width: 100%;
        font-size: 1rem;
    }

    .sub-image{
        display: none;
    }
    .lover,.foot{
        display: flex;
        flex-direction: column;
        margin-top: 42px;
    }
    .deal-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        width: 100%;
        height: auto;
        margin-top: 30px;
        grid-template-areas:
        "card1"
        "card2"
        "card3";
    }
    .card1 { grid-area: card1; }
    .card2 { grid-area: card2; }
    .card3 { grid-area: card3; }
    .card3{
        height: auto;
    }
    .card3 h3{
        color: #FFFFFF;
        font-size: 1.25rem;
        font-weight: bold;
    }
    .card3 a{
        font-size: 1rem;
        font-weight: 600;
        color: #FFFFFF;
    }

    .join{
        margin: 0px;
        /*margin: 0px -10px 0px -10px;*/
        padding: 0px;
    }
    .join-title{
        font-size: 1.5rem;
        margin-top: 40px;
    }
    form input[type="email"]{
        width: 35%;
        margin-bottom: 50px;
    }
    form input[type="button"]{
        width: 40%;
    }
    .foot,.footer-link,.footer-content{
        margin: 0;
    }
    .footer-link ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-media{
        gap:1px;
    }
}